@model Entity.Bookmark

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete (Using AJAX call)</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Bookmark</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.URL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.URL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShortDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShortDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.ID)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
    </dl>
    
    <form id="delete-bookmark">
        <input id="hdn-delete" type="hidden" asp-for="ID" value="@Model.ID"/>
        <input id="btn-delete" type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" asp-route-to="@ViewBag.CategoryId">Back to List</a>
         <span id="response"></span>
    </form>
</div>

<script>
    $(document).ready(function () {

        $("#delete-bookmark").submit(function (event) {
            event.preventDefault();
            var bookmarkId = $('#hdn-delete').val();

            $.ajax({
                url: document.location.origin + '/api/bookmarks/deletebookmark/' + bookmarkId,
                type: 'DELETE',
                success: function (response) {
                    console.log(response);
                    $('#response').html('<h2>Successfully Deleted</h2>');
                    $('#btn-delete').hide();
                },
                error: function (xhr, status, error) {
                    alert(status + ' ' + error)
                }
            })
        });

    });
</script>